body {
    display: flex;
    flex-direction: row;
    height:95vh;
    background: bottom right no-repeat url("background.svg");
    background-size: 20%;
}

body > div {
    padding: 0.5em 1em 0 1em;
    margin: 2px;
    border: thin solid black;
    background: rgba(255, 255, 250, .8);
}

#bad_column {
    background: #222222;
    color: white;
    text-decoration: line-through;
}

#good_column, #bad_column {
    overflow-y: scroll;
    width: 115px;
    text-align: center;
    font-weight: bold;
}

#good > canvas, #bad > canvas {
    margin: 5px 0;
}

#edit input {
    width:450px;
}

#edit {
    overflow: hidden;
}

#game {
    width: 450px;
    overflow-y: scroll;
}

#userdiv {
    display: flex;
    flex-direction: row;
}

#userdiv div {
    width: 50%;
}

#userlist {
    margin: 0;
}

.me {
    color: darkred;
}

#error-text {
    width:100%;
    margin: 12px 0;
    background: red;
    color: white;

}

#status-indicator {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 64px;
    margin: 12px 0;
}

#status-text {
    line-height: 64px;
    font-size: 140%;
    font-weight: bold;
    padding-left: 12px;
    height:64px;
    overflow:hidden;
}

#countdown {
    line-height: 64px;
    width:64px;
    height:64px;
    font-size: 200%;
    text-align: center;
    border: thin solid black;
}

.alert {
    background: yellow;
}

.hidden {
    display: None;
}

#wrong-guesses > div {
    display: flex;
    flex-direction: row;
}

.master .hideformaster {
    display: None;
}
